<div class="page-wrapper">
  <div class="left-pane">
    <h1>All Services</h1>
    <ul>
      <% @services.each do |service| %>
        <li class="service-item">
          <% if service.open? %>
            <%= link_to service.name, new_service_order_path(service) %>
          <% else %>
            <%= link_to service.name, edit_service_order_path(service, service.orders.last) %>
          <% end %>
        </li>
        - <%= service.status %>
      <% end %>
    </ul>
  </div>

  <div class="right-pane"/>
</div>
