<tr class = 'nested-fields order-extra-fields'>
  <td>
    <div class = 'field'>
      <%= f.hidden_field :extra_id %>
    </div>

    <%= f.label :quantity, "Quantity of #{f.object.extra_id ? Extra.find(f.object.extra_id).name : 'Something'}" %>
  </td>

  <td class = 'field'>
    <%= f.number_field :quantity, class: 'form-control quantity-field', min: 0 %>
  </td>

  <td class="actions text-right">
    <button class="btn btn-success plus-btn">+</button>
    <button class="btn btn-danger minus-btn">-</button>
  </td>
</tr>
