<div class = 'nested-fields'>
  <div class = 'field'>
    <%= f.select :extra_id, Extra.pluck(:name, :id) %>
  </div>

  <div class = 'field'>
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>
  <%= link_to_remove_association "Remove Extra", f %>
</div>